# Byte-compiled / optimized / DLL files
__pycache__/
.vscode/

# Distribution / packaging
Gemini/Images/Private
Gemini/pdfs/Private
Processed Images/
main.ipynb
using_genai_only.ipynb
tersseract_workflow.ipynb
ICR Agreement .docx
KL_Resume.pdf
Resume_analyzer/templates/Resume

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
key.py
.venv
env/
venv/
myvenv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# Others
.mypy_cache/
.dmypy.json
dmypy.json
*.csv

Tesseract